<div class="album-concept">
    <div class="cover left"></div>
    <div class="cover right"></div>
    <div class="controls">
        <span class="fontawesome-music"></span>
        <span id="start-id" class="fontawesome-play"></span>
        <span class="fontawesome-random"></span>
    </div>
    <audio id="audio-id" src="{{ site.about_bgm }}" preload="metadata"></audio>
</div>

<script type="text/javascript">
    var Unfolding = (function (window) {

        'use-strict';

        function handle() {

            var cover = document.querySelectorAll('.cover'),
                ela = document.getElementById("audio-id"),
                els = document.getElementById("start-id");

            // Unfold once it's ready
            document.querySelector('.cover.right').classList.add('unfold');
            els.addEventListener("click", function t() {
                ela.play();
            });

            [].slice.call(document.querySelectorAll('.cover')).forEach(function (cover, index) {

                cover.addEventListener('click', function (event) {

                    event.preventDefault();

                    var right = document.querySelector('.cover.right');

                    // Fold
                    if (!right.classList.contains('fold')) {

                        document.querySelector('.cover.right').classList.add('fold');
                        document.querySelector('.cover.right').classList.remove('unfold');
                        ela.pause();

                    }

                    // Unfold
                    else {

                        document.querySelector('.cover.right').classList.add('unfold');
                        document.querySelector('.cover.right').classList.remove('fold');
                        ela.play();

                    }

                }, false);

            });

        }

        // Public API
        return {

            cover: handle

        }

    })(window);

    window.addEventListener ? window.addEventListener('load', Unfolding.cover, false) : window.onload = Unfolding.cover();
</script>