<div class="album-concept">
    <div class="cover left"></div>
    <div class="cover right"></div>
    <div class="controls">
        <div style="font-size:0.7rem;text-align:center;margin-left:5px;color: hsla(0,0%,39%,.2);" id="timer-id">
        00:00
        </div>
        <span class="fontawesome-music"></span>
        <span id="start-id" class="fontawesome-play"></span>
        <span id="next-id" class="fontawesome-step-forward"></span>
    </div>
    <audio id="audio-id" src="{{ site.about_bgm }}" preload="metadata"></audio>
</div>

<script type="text/javascript">
    var Unfolding = (function (window) {

        'use-strict';

        function handle() {

            var cover = document.querySelectorAll('.cover'),
                ela = document.getElementById("audio-id"),
                els = document.getElementById("start-id"),
                elt = document.getElementById("timer-id"),
                eln = document.getElementById("next-id"),
                playlist = JSON.parse(window.localStorage.getItem('playlist'));

            // Unfold once it's ready
            document.querySelector('.cover.right').classList.add('unfold');
            els.addEventListener("click", function t() {
              if (els.classList.contains('fontawesome-play')){audio_play();set_playlist();}
              else {
                audio_pause();
                };
            });
            eln.addEventListener("click", function t() {
                get_local_next();
                audio_play();
            });
            ela.addEventListener("ended", audio_pause);
            ela.addEventListener("timeupdate", get_timer);
            function get_local_next() {
                if (playlist != null ) {
                    var m_num = playlist.length;
                    var index = Math.floor(Math.random() * m_num);
                    var next_url = playlist[index];
                    ela.setAttribute("src", next_url);
                    window.localStorage.setItem('current', next_url);
                }
                else {
                    set_playlist();
                };
            }
            function set_playlist() {
                var item = ela.getAttribute("src");
                if (playlist != null ) {
                    playlist.indexOf(item) === -1? playlist.push(item):null;
                    window.localStorage.setItem('current', item);
                    window.localStorage.setItem('playlist', JSON.stringify(playlist));
                }
                else {
                    playlist = [item];
                    window.localStorage.setItem('current', item);
                    window.localStorage.setItem('playlist', JSON.stringify(playlist));
                }
            }
            function audio_play() {
                ela.play();
                els.classList.remove('fontawesome-play');
                els.classList.add('fontawesome-pause');
            }
            function audio_pause() {
                ela.pause();
                els.classList.remove('fontawesome-pause');
                els.classList.add('fontawesome-play');
            }
            function get_timer(){
                var left_time = ela.duration != ela.duration ? 0: ela.duration - ela.currentTime
                var mins = Math.floor(left_time / 60);
                var secs = Math.floor(left_time % 60);
                secs = secs < 10 ? "0"+secs : secs;
                elt.innerHTML = mins + ":" + secs;

            }

            [].slice.call(document.querySelectorAll('.cover')).forEach(function (cover, index) {

                cover.addEventListener('click', function (event) {

                    event.preventDefault();

                    var right = document.querySelector('.cover.right');

                    // Fold
                    if (!right.classList.contains('fold')) {

                        document.querySelector('.cover.right').classList.add('fold');
                        document.querySelector('.cover.right').classList.remove('unfold');
                        audio_pause();

                    }

                    // Unfold
                    else {

                        document.querySelector('.cover.right').classList.add('unfold');
                        document.querySelector('.cover.right').classList.remove('fold');
                        audio_play();

                    }

                }, false);

            });

        }

        // Public API
        return {

            cover: handle

        }

    })(window);

    window.addEventListener ? window.addEventListener('load', Unfolding.cover, false) : window.onload = Unfolding.cover();
</script>