<div id="kiana-id" class="kiana">
    <div class="kianaImgDiv">
        <img id="kianaImg" src="/photos/Bulbasaur.png">
    </div>
</div>
<div id="maskLayer"></div>
<script type="text/javascript">
    var object = document.getElementById('kiana-id'),
        maskLayer = document.getElementById('maskLayer'),
        kianaImg = document.getElementById('kianaImg'),
        initX, initY, firstX, firstY;

    object.addEventListener('mousedown', function(e) {
        e.preventDefault();
        initX = this.offsetLeft;
        initY = this.offsetTop;
        firstX = e.pageX;
        firstY = e.pageY;

        kianaImg.src = "/photos/bulbasaur.gif"
        maskLayer.style.display = 'block';
        maskLayer.addEventListener('mousemove', throttleDrag, false);
    }, false);

    document.addEventListener('mouseup', function() {
        kianaImg.src = "/photos/Bulbasaur.png"
        maskLayer.style.display = 'none';
        maskLayer.removeEventListener('mousemove', throttleDrag);
    }, false);

    object.addEventListener('touchstart', function(e) {
        e.preventDefault();
        initX = this.offsetLeft;
        initY = this.offsetTop;
        var touch = e.touches;
        firstX = touch[0].pageX;
        firstY = touch[0].pageY;

        kianaImg.src = "/photos/bulbasaur.gif"
        object.addEventListener('touchmove', swipeIt, false);
    }, false);

    document.addEventListener('touchend', function() {
        kianaImg.src = "/photos/Bulbasaur.png"
        object.removeEventListener('touchmove', swipeIt);
    }, false);

    function dragIt(e) {
        object.style.left = initX + e.pageX - firstX + 'px';
        object.style.top = initY + e.pageY - firstY + 'px';
    }

    function swipeIt(e) {
        var contact = e.touches;
        object.style.left = initX + contact[0].pageX - firstX + 'px';
        object.style.top = initY + contact[0].pageY - firstY + 'px';
    }

    function throttleV2(fn, delay, mustRunDelay) {
        var timer = null;
        var t_start;
        return function() {
            var context = this,
                args = arguments,
                t_curr = +new Date();
            clearTimeout(timer);
            if (!t_start) {
                t_start = t_curr;
            }
            if (t_curr - t_start >= mustRunDelay) {
                fn.apply(context, args);
                t_start = t_curr;
            } else {
                timer = setTimeout(function() {
                    fn.apply(context, args);
                }, delay);
            }
        };
    }

    function throttleDrag(e) {
        throttleV2(dragIt(e), 50, 30)
    }
</script>