  <header class="header">

    {% if site.avatar %}
      <div class="header__logo">
        <a href="{{ site.baseurl }}/" class="header__link header__link--logo" title="{{ site.title }}">
        <img src="{{ site.avatar }}" style="display:initial;width:30px;height:30px;vertical-align:middle;border-radius:15px;"></a>
      </div>
    {% else %}
      <h1 class="header__logo">
        <a href="{{ site.baseurl }}/" class="header__link header__link--logo" title="{{ site.title }}">{{ site.title }}</a>
      </h1>
    {% endif %}

    <nav class="header__nav" role="navigation">
      <a href="{{ site.baseurl }}/about/" class="header__link">About</a>
      <a href="{{ site.baseurl }}/archive/" class="header__link">Archive</a>
      <a href="http://twitter.com/{{ site.twitter_username }}" class="header__link" target="_blank">Twitter</a>
      <!-- <a href="http://github.com/{{ site.github_username }}" class="header__link" target="_blank">Github</a> -->
      <a href="http://facebook.com/{{ site.facebook_username }}" class="header__link" target="_blank">Facebook</a>
    </nav>
  </header>

  <main class="col">
