<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">

<g>
    <path id="whole-body-fill" class="fill" fill="#FFD843" d="M117,117c0,0,0.2-67.2,57.5-112c0,0,12.5,31.5-28.8,101.5c0,0,36.1-9,73.3,15.9c0,0,53.7-24.4,115.4-2.4
        c0,0-15.2,17.6-96,25l1.8,14c0,0,58.9-24.4,116.2-33.3c0,0-2,61.3-6.5,84.1l-91.5,5.5L289,248l-29.5,30.3l18.6,15.9L251.4,327
        l-4.1-18.8l9.2-10.2l-14.7-9.9l-2.4-14.9l13.5-18.1l-18.6-18.9c0,0,0.4,26.3,3.7,33c3.3,6.7,2.2,18.7,7.6,34s12.5,48-11.3,67.8
        c0,0,14.9,7.3,14.6,6c-0.3-1.2,7.9,6.9,7.9,6.9v5.5c0,0-5.1,5.1-33,0s-24.5-11.1-24.5-11.1l3-4.4c0,0-20.2-6.2-53.1-3.6l3,4.8
        c0,0-19.9,18.1-52.5,15.2l-3.3-0.2l-1-2.5l-2-1.1c0,0-0.3-4.8,23.2-17c0,0-31.6-10.3-8.6-47.2c0,0,9.3-15.6,8.6-30.9
        c0,0-15.4-2.2-20.5-20c0,0-7.1-15.6,22.3-35.9c0,0-32.8-21.1-30.9-42c0,0,2-10,7.2-16.3c5.3-6.3,5.9-19.8,5.9-19.8
        s-2.8-9.1,7.3-26.9L117,117z"/>
</g>
 
  
<g id="Left_Ear">
    <path id="left-ear-fill" class="fill" d="M145.1,35.6c0,0,23.4-28.6,29.4-30.6c0,0,8.6,20.2-11.1,67C163.4,72,158.4,45.4,145.1,35.6z"/>
    <path id="Outline" class="outline-fast" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M117,117
        c3.5-75,57.5-112,57.5-112s13.5,29.5-28.8,101.5"/>
    <path id="Cut" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M145.1,35.6
        c0,0,11.2,5.4,18.3,36.4"/>
</g>
  
  
<g id="Right_Ear">
    <path id="right-ear-fill" class="fill" d="M300.1,112c0,0,22.9,3.3,34.4,8c0,0-24.7,13.4-51.2,19.3C283.3,139.3,298.6,121,300.1,112z"/>
    <path id="Outline_1_" class="outline-fast" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M210,126.5
        c0,0,55.5-30.5,124.5-6.5c0,0-30.5,23.5-107,25.5"/>
    <path id="Cut_1_" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M300.1,112
        c0,0-3,11.2-16.8,27.3"/>
</g>
  
  
<g id="Left_Arm">
    <path id="Bottom" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M118.4,235.3
        c0,0-24.4,14.7-22.9,32.2c0,0,1.5,20.5,21.5,24c0,0,19-0.5,19-2.5"/>
    <path id="Top" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M117,248
        c0,0,20.1-1,29.8,11.5"/>
</g>
  
  
<g id="Right_Arm">
    <path id="Outline_2_" class="outline-fast" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M203,242
        c0,0-29.4-10-56.2,17.5c0,0-15.8,18.5-10.8,29.5c0,0,8,15.5,58,6.5"/>
</g>
  
  
<g id="Left_Foot">
    <path id="Outline_3_" class="outline-slow"fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M117,369.5
        c0,0-31.6,16.5-21.6,18c0,0-1.3,3.5,4.3,2.8c0,0,13.6,4,38.3-6.5s9.1-11.3,11.2-13.5"/>
    <path id="Inner_left" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="
        M95.4,387.5c0,0,6.8-6.5,14.8-9.2"/>
    <path id="Inner_right" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="
        M99.7,390.2c0,0,3.8-6,14.3-9"/>
</g>
  
  
<g id="Right_Foot">
    <path id="Outline_4_" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="
        M233.3,371.7c0,0,25.7,6.3,23.2,15.8c0,0,1.5,4-3.5,3.5c0,0-16.8,3.3-37.2-3.5c0,0-26-5.3-12.8-13.5"/>
    <path id="Top_2_" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M253,391
        c0,0-10.8-9.5-15.8-8.1"/>
    <path id="Bottom_2_" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="
        M256.5,388.5c0,0-5.8-6.4-15.3-9.3"/>
</g>
  
  
<g id="Tail">
    <path id="tail-fill" class="fill" fill="#9E3C18" d="M247.4,309.1l8.7-10.4c0.2-0.2,0.2-0.6-0.1-0.8l-5.8-4c-0.3-0.2-0.1-0.7,0.2-0.7
        c1.2,0.1,2.1-0.4-0.2-3c-0.1-0.1-0.1-0.1-0.1-0.2c0.1-2,1.5-0.8,4.6,0.6c0.6,0.3,1.2-0.3,0.9-0.9c-0.4-0.8-0.9-1.7-1.2-1.6
        c-0.1,0-0.1-0.1-0.1-0.2c-0.1-0.6-2.1-4.5,4.3-0.7c0.5,0.3,1-0.2,0.7-0.7c-0.4-0.7-0.9-1.6-1.8-3.6c-1.1-2.7,3-0.5,3.9-0.1
        c0.1,0,0.2,0,0.3,0l1.6,0.8c0.9-0.6-0.1-0.9-0.7-2.1c-0.1-0.2,0.2-0.5,0.4-0.3l15,12.8c0.2,0.2,0.2,0.5,0.1,0.8L252,325
        c-0.3,0.3-0.8,0.2-0.9-0.2l-3.8-15.2C247.2,309.4,247.3,309.3,247.4,309.1z"/>
    <path id="Right_2_" class="long-outline-fast" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M251.4,327
        l27.1-32.5l-19-16.2L289,248l-30.5-32.7l91.5-5.5c0,0,8.8-65.2,6.5-84.1c0,0-62.4,9.8-116.2,33.3"/>
    <polyline id="Left_top" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="
        234.3,236.3 253,255.2 238.8,274     "/>
    <polyline id="Left_bottom" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="
        241.8,288.1 256.5,298.3 247.2,309.3     "/>
</g>
  
  
<g id="Back_Marks">
    <path id="top-back-mark-fill" class="fill" fill="#CE6E34" d="M239.4,277.1c-14.8,4.3-15.2-0.1-15.2-0.1c0-5.5,12.8-13.6,12.8-13.6L239.4,277.1z"/>
    <path id="Top_mark" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M237,263.4
        c0,0-12.8,8.1-12.8,13.6c0,0,0.4,4.4,15.2,0.1"/>
    <path id="bottom-back-mark-fill" class="fill" fill="#CE6E34" d="M251.4,325.8c-1.9,1-17.9,7.2-17.1,1.2c0.8-6,13-17.7,13-17.7l3.9,17.7"/>
    <path id="Bottom_3_" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="
        M247.2,309.3c0,0-12.2,11.7-13,17.7c-0.8,6,15.2-0.2,17.1-1.2"/>
</g>
  
  
  
<g id="Blushes">
        <circle id="right-blush-fill" class="fill outline-fast" fill="#F34F30" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="203" cy="202" r="17.5"/>
        <circle id="right-blush-fill" class="fill" fill="#F34F30" stroke="#000000" stroke-width="0" stroke-linecap="round" stroke-miterlimit="10" cx="203" cy="202" r="17.5"/>
    <path id="left-blush-fill" class="fill" fill="#F34F30" d="M93.5,212.5c0,0,14.2-1,14.2-18.2s-12.3-18.5-12.3-18.5S80.5,195.8,93.5,212.5z"/>
    <path id="Left_2_" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M93.5,212.5
        c0,0,14.2-1,14.2-18.2s-12.3-18.5-12.3-18.5"/>
</g>
  
  
<g id="Eyebrows">
        <line id="Left_3_" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="130" y1="158.2" x2="115.7" y2="147.2"/>
        <line id="Right_4_" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="180.2" y1="161" x2="200" y2="151"/>
</g>
  
  
<g id="Eyes">
    <path id="Left_out_2_" class="fill outline-slow" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M126.6,156
        c2.5,3.2-0.8,12.5-0.8,12.5c-3.3,10.9-10.8,9.5-10.8,9.5c-9.5-3.2-6.6-14-6.6-14c5.1-16.2,13.2-12.3,13.2-12.3L126.6,156z"/>
    <path id="Left_out_2_" class="fill" stroke="#000000" stroke-width="0" stroke-linecap="round" stroke-miterlimit="10" d="M126.6,156
        c2.5,3.2-0.8,12.5-0.8,12.5c-3.3,10.9-10.8,9.5-10.8,9.5c-9.5-3.2-6.6-14-6.6-14c5.1-16.2,13.2-12.3,13.2-12.3L126.6,156z"/>
    <path id="inner-left-fill" class="fill" fill="#FFFFFF" d="M118.7,156c0,0-4.2,6.6,0,8.7c0,0,4.5,2.5,5.7-5.7C124.3,159,124.2,152.3,118.7,156z"/>
    <path id="Right_out_2_" class="fill outline-slow" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M195.5,153.3
        c5.5,2.5,6.7,5,8.5,7.7s1,10.5,1,10.5c-0.2,4.2-2.5,6.9-5,8.7c-3.8,2.7-8.7,3-12.8,0.7c-3.9-2.2-5-5-5-5c-4.5-7.5,0-15.8,0-15.8
        L195.5,153.3z"/>
    <path id="Right_out_2_" class="fill" stroke="0" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M195.5,153.3
        c5.5,2.5,6.7,5,8.5,7.7s1,10.5,1,10.5c-0.2,4.2-2.5,6.9-5,8.7c-3.8,2.7-8.7,3-12.8,0.7c-3.9-2.2-5-5-5-5c-4.5-7.5,0-15.8,0-15.8
        L195.5,153.3z"/>
    <path id="inner-right-fill" class="fill" fill="#FFFFFF" d="M186.8,161c0,0-1.5,6.8,3.4,7c4.2,0.2,5-3.6,5.4-5c0,0,0.3-4.5-4.5-4.8
        C191,158.2,188.2,158,186.8,161z"/>
</g>
  
  
<g id="Nose">
    <path id="nose-fill" class="fill outline-slow" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M135,175.8
        c0,0,3.5,6.3,7.5,0c0,0,3.8-4-2.5-3.7C140,172.1,130.3,171.8,135,175.8z"/>
    <path id="nose-fill" class="fill" stroke="#000000" stroke-width="0" stroke-linecap="round" stroke-miterlimit="10" d="M135,175.8
        c0,0,3.5,6.3,7.5,0c0,0,3.8-4-2.5-3.7C140,172.1,130.3,171.8,135,175.8z"/>
</g>
  
  
<g id="Mouth">
    <path class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M121,189.5
        c0,0,6.6,11.8,17.7,0c0,0,16.9,18.4,30.3,5.2"/>
</g>
  
  
<g id="Body">
    <path id="Left_1_" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M117,291.5
        c0,0-2,21.5-9.2,31c0,0-23.2,34.5,9.2,47"/>
    <path id="Bottom_1_" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M135,372.5
        c0,0,38-9.5,78,4.5"/>
    <path id="Right_1_" class="outline-fast" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M238.5,199.2
        c0,0-8.5,37.6-1.5,64.2c0,0,3,22.1,13,55.6c0,0,9,37.4-19,54.2"/>
</g>
  
  
<g id="Head">
    <path id="Left" class="outline-fast" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M128,242
        c0,0-28-18.5-34.5-29.5c0,0-13.5-14,0-33.5c0,0,9.5-14,6.5-23.5c0,0,0.9-28.6,26-43.5"/>
    <path id="Top_1_" class="outline-fast" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M136,109.8
        c0,0,39.1-16.5,83.1,12.6"/>
    <path id="Right" class="outline-slow" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M238.5,145
        c0,0,4,32.4,0,54.2"/>
</g>
</svg>
