<script type="text/javascript">
    var ela = document.getElementById("audio-id"),
        elm = document.getElementById("music-img"),
        elc = document.getElementsByClassName("article-audio")[0],
        mock = "https://www.easy-mock.com/mock/59643dccb6cab76bb7383dcf/api/netease?id=",
        playlist = JSON.parse(window.sessionStorage.getItem('playlist'));
    elm.addEventListener("click", function t() {
      if (elm.classList.contains('audio_active')){ela.pause();elm.classList.remove('audio_active')}
      else {
        get_audio_url(audio_play, set_playlist);
        };
    });
    ela.addEventListener("ended", audio_ended);
    ela.addEventListener("timeupdate", get_audio_timer);
    function er() {
        elc.setAttribute("data-before", "NetworkError, TryAgain");
        console.log("failed to get audio url");
    }
    function audio_play(e, d){
        d.play();e.classList.add('audio_active')
    }
    function audio_ended() {
        elm.classList.remove('audio_active');
    }
    function set_playlist() {
        var item = ela.getAttribute("src");
        if (playlist != null ) {
            item && playlist.indexOf(item) === -1? playlist.push(item):null;
            window.sessionStorage.setItem('playlist', JSON.stringify(playlist));
        }
        else {
            if (item != ""){
                playlist = [item];
                window.sessionStorage.setItem('playlist', JSON.stringify(playlist));
            }
        }
    }
    function get_audio_url(call1, call2) {
        var xhr = new XMLHttpRequest;
        var audio_id = ela.getAttribute("value");
        var audio_url = ela.getAttribute("src");
        if (audio_url != "") {
            call1(elm, ela);
        }
        else {
            xhr.open("GET",  mock + audio_id, !0),
            xhr.timeout = 1e3,
            xhr.onload= function(){
                var url = JSON.parse(xhr.responseText)[0].url;
                ela.setAttribute("src", url)
                call1(elm, ela);
                call2();
            },
            xhr.ontimeout = function() {
                er(),
                xhr.abort()
            },
            xhr.onerror = function() {
                er()
            },
            xhr.send();
        }
    }
    function get_audio_timer() {
        var left_time = ela.duration != ela.duration ? 0: ela.duration - ela.currentTime
        var mins = Math.floor(left_time / 60);
        var secs = Math.floor(left_time % 60);
        secs = secs < 10 ? "0"+secs : secs;
        // mins = m < 10 ? "0"+m : m;
        elc.setAttribute("data-before", mins + ":" + secs);
    }
</script>