// @Author: songroger
// @Date: Aug.24.2016
@import "compass/css3.scss";

.article__more {
    &:hover {
      text-decoration: none;
    }
}

.subscribe {
	color:#444;
    &:hover {
      text-decoration: none;
    }
}

.blocks {
	display: flex;
	margin-bottom:0;
}

.block__item {
	.btn {
		box-shadow:inset 0 0 0 0px #1565c0;
	}
}

.footer {
	.col {
		text-align: center;
	}
}