// @Author: songroger
// @Date: Aug.24.2016
@import "compass/css3.scss";

a:hover, a:visited, a:active {
	color: #444;
    text-decoration: none;
}

.cover {
	margin-bottom: 20px;
}

.article__more {
	color:#999;
    &:hover {
      color: #444;
      text-decoration: none;
    }
}

.subscribe {
	color:#999;
    &:hover {
      color: #444;
      text-decoration: none;
    }
}

.blocks {
	display: flex;
	margin-bottom:0;
}

.block__item {
	.btn {
		box-shadow:inset 0 0 0 0px #1565c0;
	}
}

.footer {
	margin-top: 0.5rem;
	.col {
		font-size: 13px;
		text-align: center;
	}
}