time {
	color: var(--color2);
	font-size: 15px;
	font-family: "Segoe UI",Optima,"Helvetica Neue",sans-serif;
	text-transform: uppercase;
}
.inner {
	padding: 10px 0 10px;
	border-bottom: 1px solid rgba(0,0,0,.04);
	margin-bottom: 10px;
}
.arch-item {
	margin-bottom: 10px;
	animation: itemshow 0.9s linear;
    -webkit-animation: itemshow 0.9s linear;
    -moz-animation: itemshow 0.9s linear;
	li {
		list-style-type: lower-greek;
	}
}
.arch-title {
	color: var(--color-text);
	font-size: 20px;
	font-family: Lora,Georgia,"Hiragino Sans GB",sans-serif;
	font-weight: bold;
	padding-right: 10px;
	&:hover {
	  /*color: var(--color2);*/
	  /*transition:all 0.25s ease-in;*/
	  background: -webkit-gradient(linear,left top,right top,from(#d00606),to(#1c5dc1));
	  background: linear-gradient(90deg,#d00606,#1c5dc1);
	  -webkit-text-fill-color:transparent;
	  text-shadow:none;
	  -webkit-background-clip:text;
	  -webkit-box-decoration-break:clone;
	  box-decoration-break:clone;
	}
}
.arch-desc {
	color: var(--color2);
}