.article {
  margin-bottom: 3rem;
}

.article__title {
  margin-bottom: .8rem;
  font-size: 1.999rem;

  &--single {
    font-size: 2.827rem;
  }

  a {
    color: var(--color-text);

    &:hover {
      color: var(--color1);
      text-decoration: none;
    }
  }
}

.article__date {
  display: block;
  margin-bottom: .8rem;
  font-size: .7501rem;
}

.article__more {
  color: var(--color2);
  text-decoration: none;
  &:hover {
      color: var(--color-text);
      text-decoration: none;
    }
}

.post-tags {
  text-align: right;
  text-decoration: none;
  font: italic bold 12px/30px Georgia, serif;
}