.blocks {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
  a {
  	color: var(--color2);
  	&:hover {
      color: var(--color-text);
    }
  }
}

.blocks--space {
  justify-content: space-between;
}

.block__item--mr {
  margin-right: .8rem;
}
