.blocks {
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;
}

.blocks--space {
  justify-content: space-between;
}

.block__item--mr {
  margin-right: .8rem;
}

.blocks__item {
  a {
    text-decoration: none;
    color: var(--color2);
    border: 3px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 1px 15px;
    font-family: Georgia,sans-serif;
    &:hover {
      color: var(--color-text);
      border-color: var(--color2);
      transition: all .5s ease-in;
    }
  }
  .btn {
    box-shadow: inset 0 0 0 0px #1565c0;
  }
}