.btn {
  display: block;
  padding: .8rem 1.6rem;
  transition: all 100ms;
  color: var(--color1);
  box-shadow: inset 0 0 0 1px var(--color1);
}

.btn:hover {
  background: var(--color1);
  color: #fff;
  text-decoration: none;

  .btn__icon {
    fill: #fff;
  }
}

.btn__icon {
  position: relative;
  top: 2px;
  left: -4px;
  width: 18px;
  height: 18px;
  fill: var(--color1);
  margin-right: .6rem;
  transition: fill 100ms;
}

