@-webkit-keyframes 'itemshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-moz-keyframes 'itemshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes 'itemshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes 'rotate' {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes 'rotate' {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes 'rotate' {
  100% {
    transform: rotate(360deg);
  }
}


@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes htmlSkill {
  0% {width: 0;}
  100% {width: 95%;}
}

@keyframes cssSkill {
  0% {width: 0;}
  100% {width: 90%;}
}

@keyframes jsSkill {
  0% {width: 0;}
  100% {width: 85%;}
}

@keyframes mvBottom {
  0% {bottom: -150px;}
  100% {bottom: 10px;}
}

@keyframes mvTop {
  0% {top: -150px;}
  100% {top: 40px;}
}

@keyframes dsTop {
  0% {top: -150px;}
  100% {top: 0;}
}

@keyframes moveParticle {
  0% {
    top: -6px;left: -6px;
/*    background-color: #fce4ec; */
  }
  25% {
    top: -6px;left: calc(var(--particle-len) - 4px);
/*    background-color: #f8bbd0 ; */
  }
  50% {
    top: calc(var(--particle-len) - 6px);left: calc(var(--particle-len) - 6px);
/*      background-color: #ec407a; */
  }
  75% {
    top: calc(var(--particle-len) - 4px);left: -6px;
/*    background-color: #ab47bc; */
  }
  100% {
    top: -6px;left: -6px;
/*    background-color: #6a1b9a; */
  }
}